{% extends "base.jinja2" %}

{% block title %}Home{% endblock %}

{% block content %}

</br>
<div class="jumbotron">
    <h2>Welcome{% if g.user %}, {{g.user.profile.firstName}}{% endif %}</h2>

    <p>Hello world</p>
    <p>Today's date: {{ today }}</p>
    </br>
    <p>Some companies to get started:</p>
    <li><a href="{{ url_for("importer", id=1440) }}" >Air Canada Jazz</a></li>
    <li><a href="{{ url_for("importer", id=3262) }}" >Banque Nationale</a></li>
    <li><a href="{{ url_for("importer", id=2703) }}" >Asus</a></li>
    <li><a href="{{ url_for("importer", id=23501) }}" >Rolex</a></li>
</div>



{% endblock %}