{% extends "base.jinja2" %}

{% block title %}Search{% endblock %}

{% block content %}

</br>
<div class="jumbotron">
  <h2>Search: {{ q }}</h2>
</div>

<h3>Results:</h3>

<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#products" aria-expanded="false" aria-controls="products">
    Products
  </button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#importers" aria-expanded="false" aria-controls="importers">
    Importers
  </button>
</p>

<div class="collapse" id="products">
  <div class="card card-body">
    {% for hit in hits_products %}
      <p><a href="{{ url_for("product", id=hit['id']) }}">{{hit['name']}}</a></p>
    {% endfor %}
  </div>
</div>

<div class="collapse" id="importers">
  <div class="card card-body">
    {% for hit in hits_importers %}
      <p><a href="{{ url_for("importer", id=hit['id']) }}">{{hit['name']}}</a></p>
    {% endfor %}
  </div>
</div>


<br>
{% endblock %}